@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* colors */
    --soft-blue:hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* neutral */
    --veryDarkBlue: hsl(217, 54%, 11%); /* main BG */
    --veryDarkBlueTwo: hsl(216, 50%, 16%); /* card BG */
    --veryDarkBlueThree: hsl(215, 32%, 27%);  /* Line */
    --white: hsl(0, 0%, 100%);
    --size: 18px;
    /* font weight 300 400 600 */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--size);
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--veryDarkBlue);
    color: var(--soft-blue);
}

.container {
    width: 100%;
    max-width: 360px;
    border-radius: 15px;
    background-color: var(--veryDarkBlueTwo);
    padding: 20px;
}

.imagen {
    width: 100%;
    position: relative;
}

.img-card {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.49);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.imagen:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.content h1 {
    color: var(--white);
    padding: 1rem 0px;
    font-size: 1.3rem;
    width: max-content;
}

.content h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

.content .text{
    line-height: 1.5;
    font-weight: 300;
}

.content .coin {
    display: flex;
    justify-content: space-between;
}

.content .coin p {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
}

.content div .eth {
    color: var(--cyan);
}

.ethe {
    width: 10px;
    margin: 22px 0px;
}

.line {
    color: var(--veryDarkBlueThree);
}

.name p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 400;
}

.name p span .jules{
    color: var(--white);
    font-weight: 300;
}

.name p span .jules:hover {
    color: var(--cyan);
    cursor: pointer;
}

.avatar {
    width: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

@media screen and (max-width: 375px) {
    .container {
        margin: 0px 13px;
        padding: 1rem 0.8rem;
    }
}
